


/*=========================
       Navigation
  ==========================*/




.heart-trigger {
    display: block;
    /* order: -1; */
    padding: 12px 30px;
   
}


.fa-heart {
    font-size: 1.8em;
    color: #FFC4EB;
  
   
}







/*=========================
       HMS
  ==========================*/
  body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: #474747;
}




h2,
.title {
    font-family: "Economica", sans-serif;
    text-transform: uppercase;
    font-weight: bold;

}

h2 {
    font-size: 1.6rem;
    /* 25.6 px */

 }

.HMS {
    position: relative;

}


.HMS:before {
    content: " ";
    display: block;
    height: 30px;
    background: url(images/pattern.png) left top repeat-x;
    margin-bottom: 2em;
}

.HMS .title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
   
}

.HMS h2 {
    display: inline;
    background-color: #fff;
    padding: 0.8em;
  
} 








        /*=========================
        Footer
  ==========================*/



  .fixed-width {

    width: 940px;
    margin: 0 auto;
    padding-right: 500px;
  
}



.page-footer:before {
    content: " ";
    display: block;
    height: 5px;
    background: url(images/pattern.png) left top repeat-x;

}

.page-footer {
    color: #a5acab;
    font-size: 1rem;
    height: 300px;
    bottom: 0%;
   


}

.page-footer .copyright {
    float: left;
}

.page-footer .credits {
    float: right;
}

.page-footer-content {
    padding: 1em 0;

}







/*=========================
    Top Bar of Home page 
  ==========================*/


.row{
    display: flex; 
    width: 100%;
    color: #0d6efd;
    margin-left:20px;
    padding-left: 300px;
    justify-content: space-around; 
    margin-bottom: 20px;
    text-align:center;
 
}

.nav-item{
    padding: 14px 16px;


}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(115, 104, 212);
  }



.social-icons {
  
    display: flex; 
    list-style: none;
    margin-left: 130px;
    gap: 15px;  
  
 
}

.sp-contact-info {
    display: flex; 
    list-style: none;
    gap: 15px;
 
}
.card-group{
    justify-content: space-between;
    gap: 10px;
    padding: 14px;
}



/*=========================
    Card of Home page
  ==========================*/




.card, .card-img-top , .card-img-top {
    background: #00bcd4;
   
}


.container{
 max-width: fit-content;
 width: 100%;
}



/*=========================
   Button of of back to top
  ==========================*/



#btn-back-to-top {
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: none;
  
} 



/*-----------Responsive Moode..............*/
 
@media screen and (max-width: 360px) {
    body{
     display: none;
   
    
     
   }
 } 


  @media all and (min-width: 545px) {
   
    }
/*-----------Responsive Moode End..............*/



